SECRET_KEY=django-insecure-change-this-later
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=food_processing_db
DB_USER=root
DB_PASSWORD=Root@1234
DB_HOST=localhost
DB_PORT=3306
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
AES_MASTER_KEY=base64-encoded-32-byte-key-here